:root {
    --fundo: #E2F1E7;
    --cartao-frente: #0B666A;
    --cartao-verso: #35A29F;
    --destaque: #071952;
    --preto: #000000;
    --branco: #ffffff;
}

body {
    background-color: var(--fundo);
    margin: 0;
}

#container {
    padding: 4rem;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
}

footer {
    background-color: var(--preto);
    color: var(--branco);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}