:root {
    --fundo: #E2F1E7;
    --cartao-frente: #11b9b4;
    --cartao-verso: #389fa4;
    --destaque: #071952;
    --preto: #000000;
    --branco: #ffffff;
}

body {
    background-color: var(--fundo);
    margin: 0;
}

header {
    background-color: var(--preto);
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

header a {
    color: var(--branco);
    text-decoration: none;
    font-size: 1.5rem;
}

header a:hover {
    text-decoration: underline;
}

header a {
    color: var(--branco);
    text-decoration: none;
    font-size: 1.5rem;
}

#container {
    padding: 4rem;
    margin-bottom: 5rem;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cartao {
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    height: 20rem;
    margin: 1rem;
}

.cartao:hover {
    transform: scale(1.02);
}

.conteudo-cartao {
    background-color: var(--cartao-frente);
    height: 100%;
    text-align: center;
    padding: 1rem;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
    border: 1px solid var(--destaque);
    box-shadow: 5px 5px 20px 5px var(--preto);
}

.conteudo-cartao h3 {
    color: var(--destaque);
    border: 1px solid var(--destaque);
    border-radius: 0.6rem;
    position: absolute;
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: left;
    font-size: 1vw;
    backface-visibility: hidden;
}

.conteudo-cartao p {
    margin-top: 4rem;
    padding: 2rem;
    font-size: 1.4vw;
}

.pergunta-cartao {
    font-weight: 500;
}

.pergunta-cartao p {
    margin-right: 15px;
}

.resposta-cartao {
    font-weight: 700;
    color: var(--destaque);
    transform: rotateY(180deg);
    background-color: var(--cartao-verso);
    border: 2px solid var(--destaque);
    box-shadow: 2px -2px 10px var(--destaque);
}

.pergunta-cartao, .resposta-cartao {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%
}

.cartao.active .conteudo-cartao {
    transform: rotateY(180deg);
}

footer {
    background-color: var(--preto);
    color: var(--branco);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}