:root {
    --fundo: #E2F1E7;
    --cartao-frente: #35A29F;
    --cartao-verso: #0B666A;
    --destaque: #071952;
    --preto: #000000;
    --branco: #ffffff;
}

body {
    background-color: var(--fundo);
    margin: 0;
}

#container {
    padding: 4rem;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cartao {
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    height: 20rem;
    height: 100%;
    margin: 1rem;
}

.conteudo-cartao {
    background-color: var(--cartao-frente);
    height: 100%;
    text-align: center;
    padding: 1rem;
}

footer {
    background-color: var(--preto);
    color: var(--branco);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}